{% extends "Header.html" %}
<!-- <div class ="container">
  <img src = {{Profile_Image}}  width="100">

  <h1>{{Summoner_Name}}</h1>
</div>
<div class="container ">
  

	<h2 "> {{Solo_Stats}} </h2>

</div>-->


{% block header %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/app.css' %}">

	<script>
		function runClick(id, other) {
			document.getElementById(id).classList.add("visible");
			document.getElementById(id + "Button").classList.add("visibleButton");
			document.getElementById(other).classList.remove("visible");
			document.getElementById(other + "Button").classList.remove("visibleButton");
		}
	</script>
{% endblock %}

{% block content %}

	<body>
	<title>{{ Summoner_Name }} - Badeli.gg</title>

	<div id="card">
		{% load static %}
		{% if has_stats %}
			<img src="{% static '' %}img/{{ highest_tier }}.png" class="tierImage">
		{% endif %}
		<img src="{{ Profile_Image }}" alt="ProfileImage" style="width:400px; border-image: url('{% static '' %}img/{{ highest_tier }}.png')">
		<h1 class="summonerName">{{ Summoner_Name }}</h1>

		<!--<div style="margin: 24px 0;">
		</div> -->
	</div>
	<div id="stats">
		{% if has_stats %}
			<div>
				<button id="soloButton" onclick="runClick('solo','flex')" class="statButton visibleButton">Solo Stats
				</button>
				<button id="flexButton" onclick="runClick('flex','solo')" class="statButton">Flex Stats</button>
			</div>
			<div>
				<div id="solo" class="title visible">
					<div>{{ Solo.league }} {{ Solo.tier }} {{ Solo.lp }} {{ Solo.winsLosses }} {{ Solo.winRatio }} {{ Solo.hotStreak }}</div>
					<ul>
					{% for champ in SoloChamps %}
						{% load badeli_extras %}
						<li class="champStat" style="display: grid; height:72px;">
							<img src="{{ champ.champion_id.image }}" style="grid-area: image; width: 60px">
							<div class="name">{{ champ.champion_id.name }}</div>
							<div class="winRatio">{{ champ.wins|percent:champ.games }}%</div>
							<div class="wins">{{ champ.wins }}</div>
							<div class="kda">{{ champ.kills|floatformat:1 }} / {{ champ.deaths|floatformat:1 }} / {{ champ.assists|floatformat:1 }}</div>
							<div class="games">{{ champ.games }} Games</div>
						</li>
					{% endfor %}
					</ul>
				</div>
				<div id="flex" class="title">
					<div>{{ Flex.league }} {{ Flex.tier }} {{ Flex.lp }} {{ Flex.winsLosses }} {{ Flex.winRatio }} {{ Flex.hotStreak }}</div>
					{% for champ in FlexChamps %}
						{% load badeli_extras %}
						<li class="champStat" style="display: grid; height:72px;">
							<img src="{{ champ.champion_id.image }}" style="grid-area: image; width: 60px">
							<div class="name">{{ champ.champion_id.name }}</div>
							<div class="winRatio">{{ champ.wins|percent:champ.games }}%</div>
							<div class="wins">{{ champ.wins }}</div>
							<div class="kda">{{ champ.kills|floatformat:1 }} / {{ champ.deaths|floatformat:1 }} / {{ champ.assists|floatformat:1 }}</div>
							<div class="games">{{ champ.games }} Games</div>
						</li>
					{% endfor %}
				</div>
			</div>
		{% else %}

		{% endif %}
	</div>

	<div class="matchHistory">
		<div class="collapse-toggle">
			{% for player in current_match.blue_team %}
				<p>{{ player.summoner_name|safe }} {{ player.champName }} {{ player.rank }}</p>
			{% endfor %}
			{% for player in current_match.red_team %}
				<p>{{ player.summoner_name|safe }} {{ player.champName }} {{ player.rank }}</p>
			{% endfor %}
		</div>
		<h1>Match History</h1>
		{% for match in matches %}
			{% with player=match.player %}
				<div id="{{ match.gameID }}" class="match {{ player.win|lower }}">
				<div class="queue">
					<div> {{ match.queueType }} </div>
					<p></p>
					<div> {{ player.win }} </div>
					<div> {{ match.duration }} </div>
				</div>
				<img src="{{ player.champPhoto }}" class="champPhoto">
				<div class="champName">{{ player.champName }}</div>
				<img src="{{ player.spell_1_image }}" class="spell_1_image">
				<img src="{{ player.spell_2_image }}" class="spell_2_image">
				<img src="{{ player.rune_main_1_icon }}" class="rune_keystone">
				<img src="{{ player.rune_secondary_style_icon }}" class="rune_secondary_style_icon">
				<div class="kda"> {{ player.KDA }} </div>
				<div class="stats">
					<div> {{ player.level }} </div>
					<div> {{ player.cs }} </div>
				</div>
				<div class="items">
					{% for item in player.item_images %}
						{% if item == "" %}
							<img src="/static/img/SKTblank.png" id="item{{ forloop.counter0 }}" class="item blank">
						{% else %}
							<img src="{{ item }}" id="item{{ forloop.counter0 }}" class="item">
						{% endif %}
						<!--<img src = {{Trinket}} > -->
					{% endfor %}
				</div>
				{% if player.trinket_image == "" %}
					<img src="/static/img/SKTblank.png" class="item blank trinket">
				{% else %}
					<img src="{{ player.trinket_image }}" class="item trinket">
				{% endif %}      {% endwith %}
		<div class="teamBlock">
			<ul class="team blue">
			{% for player in match.blue_team %}
				<li>
					<img src="{{ player.champPhoto }}" style="width: 30px;">
					<p style="margin-bottom:0; display: inline-block;"><a
							href="/search/?summonerName={{ player.summoner_name }}">{{ player.summoner_name|safe }}</a></p>
				</li>
			{% endfor %}
			</ul>
			<ul class="team red">
			{% for player in match.red_team %}
				<li>
					<img src="{{ player.champPhoto }}" style="width: 30px;">
					<p style="margin-bottom:0; display: inline-block;"><a
							href="/search/?summonerName={{ player.summoner_name }}">{{ player.summoner_name|safe }}</a></p>
				</li>
			{% endfor %}
			</ul>
		</div>
		</div>
		{% endfor %}

	</div>
	</body>
	</html>
{% endblock %}